body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: white;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
	margin: 0;
}

p {
	line-height: 1.65em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: #4EBEFE;
	background: -webkit-linear-gradient(top left, #4EBEFE, #3790D9);
	background: -moz-linear-gradient(top left, #4EBEFE, #3790D9);
	background: linear-gradient(to bottom right, #4EBEFE, #3790D9);
	padding-top: 70px;
	padding-bottom: 145px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	width: 560px;
	margin-top: 140px;
}

.title {
	font-size: 37px;
}

.title span {
	font-size: 59px;
}

.intro {
	width: 405px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.red {
	color: red;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	color: black;
	display: block;
	width: 225px;
	border: 100px;
	padding: 19px 0;
	background-color: #ffd429;
	text-decoration: none;
	text-align: center;
	transition: all 0.5s ease;
}

a.btn {
	animation: radial-pulse 0.5s infinite;
}

a.btn:hover {
animation:none
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(23, 22, 22, 0.5);
  }

  100% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}

.btn:hover {
	background: #d9860e;
}

.travell {
	margin-top: 40px;
}

.next {
	background-color: #fff;
	color: #000;
}

.next {
	padding-top: 110px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
	text-align: center;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
}

.next {
	background-color: #fff;
	padding-top: 105px;
	padding-bottom: 125px;
}

.time {
	width: 295px;
	background: url(img/icon1.png) no-repeat top;
	text-align: center;
}

.skill-title {
	margin-top: 100px;
	font-size: 19px;
}

.skill-text {
	margin-top: 20px;
}

.imtravell {
	width: 260px;
	background: url(img/icon2.png) no-repeat top;
	text-align: center;
}

.rocket {
	width: 305px;
	background: url(img/icon3.png) no-repeat top;
	text-align: center;
}

.form-ticket {
	background-color: #ecf3f8;
	padding-top: 101px;
	padding-bottom: 103px;
	color: #000;
}

.form {
	padding-top: 60px;
	max-width: 340px;
	margin: 0 auto;
}

.input {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	display: block;
	width: 100%;
	height: 45px;
	padding-left: 25px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

.btn-form {
	width: 338px;
	cursor: pointer;
}

.Animated_button {
	 
	  -moz-animation: onclick 1s linear infinite;            
	    -webkit-animation: onclick 1s linear infinite;
	 
	}
	 
	@-moz-keyframes onclick {
	        35% {transform: rotate(0) translate(0, 0);}
	        40% {transform: rotate(5deg) translate(0, -2px);}
	        45% {transform: rotate(-3deg) translate(0, -2px);}
	        50% {transform: rotate(5deg) translate(0, -2px);}
	        55% {transform: rotate(-3deg) translate(0, -2px);}
	        60% {transform: rotate(5deg) translate(0, -2px);}
	        65% {transform: rotate(-3deg) translate(0, -2px);}
	        70% {transform: rotate(0) translate(0, 0);}
	    }
	 
	    @-webkit-keyframes onclick {
	        35% {transform: rotate(0) translate(0, 0);}
	        40% {transform: rotate(5deg) translate(0, -2px);}
	        45% {transform: rotate(-3deg) translate(0, -2px);}
	        50% {transform: rotate(5deg) translate(0, -2px);}
	        55% {transform: rotate(-3deg) translate(0, -2px);}
	        60% {transform: rotate(5deg) translate(0, -2px);}
	        65% {transform: rotate(-3deg) translate(0, -2px);}
	        70% {transform: rotate(0) translate(0, 0);}
}

.section-title.animate {
	opacity: 0
}

.error {
	border-color: red;
}

footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #164d7a;
	padding-top: 62px;
	padding-bottom: 62px;
	text-align: center;
}



@media screen and (max-width: 1400px) {
	.container { 
		width: 1140px;
	}
}

@media screen and (max-width: 1200px) {
	.container { 
		width: 960px;
	}

	.travell {
		width: 570px;
	}

	.input {
		width: 90%;
	}

	.btn-form {
		width: 90%;

	}
}

@media screen and (max-width: 992px) {
	.container { 
		width: 720px;
	}

	.logo {
		padding-left: 30px;
	}

	.wrapper {
		flex-direction: column;
	}

	.offer {
		width: 100%;
		
	}

	.intro {
		width: auto;
	}

	.travell {
		width: auto;
		margin-left: -10px;
		padding-top: 40px;

	}

	.skills {
		flex-direction: column;
	}

	.time {
		width: auto;
		background: url(img/icon1.png) no-repeat left;
		padding-left: 100px;
		text-align: left;
	}

	.skill-title {
		margin-top: 20px;
		font-size: 19px;
	}

	.imtravell {
		width: auto;
		background: url(img/icon2.png) no-repeat left;
		padding-left: 100px;
		text-align: left;
	}

	.rocket {
		width: auto;
		background: url(img/icon3.png) no-repeat left;
		padding-left: 100px;
		text-align: left;
	}

	.input {
		width: 90%;
	}

	.btn-form {
		width: 90%;

	}
}

@media screen and (max-width: 768px) {
	.container { 
		width: 540px;
	}

	.header {
		padding-bottom: 10px;
	}

	.travell {
		max-width: 550px; 
		width: 100%;
	}

	.time {
		width: auto;
	}

	.imtravell {
		width: auto;
	}

	.rocket {
		width: auto;
	}

	.input {
		width: 90%;
	}

	.btn-form {
		width: 90%;

	}
}

@media screen and (max-width: 576px) {
	.container { 
		width: 90%;
	}

	.form {
		padding-left: 33px;
	}

	.input {
		width: 90%;
	}

	.btn-form {
		width: 90%;

	}
}